body {
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}
#console {
  background-color: black;
  color: green;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  white-space: pre-line; /* Keeps line breaks */
  border: 1px solid #00ff00;
  font-family:"light";
  font-size: 24px;

}

#console div {
  margin: 5px 0;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-family: monospace;
}

button {
  padding: 10px;
}

@font-face {
  font-family: 'Light';
  src: local("FFP"),
  url("./et-artilux.regular.ttf") format("truetype");
}